name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install libpcap-dev
      run: sudo apt-get install libpcap0.8-dev -y
    - name: Install libpcap
      run: sudo apt-get install libpcap0.8 -y
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
